@import "../layout/header";
@import "../components/buttons";
@import "../components/inputs";
@import "../components/toastify";
@import "../components/notFound";

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: #fafafa;
}

.box-shadow {
  box-shadow: 1px 1px 14px 4px #eeeeee;
}

.default-radius {
  border-radius: $default-border-radius;
}

.card {
  @extend .box-shadow, .default-radius;
  border: 1px solid #eeeeee;
  width: 100%;
}

.border-top-none {
  border-top: none;
}

.required-input {
  &:after {
    content: " *";
    color: $danger;
  }
}

.row {
  @extend .w-100, .mx-0;
}

.cursor-pointer {
  cursor: pointer;
}

.centered-content {
  @extend .d-flex, .align-items-center, .justify-content-center, .mt-3;
}